<div class="container">
  <div class="row mt-2">
    <div class="col-md-12">
      <h1>Produtos</h1>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 d-flex">
      <a> Ordenar produtos por Título:  </a>
      <div class="ml-2">
        <%= link_to "A-Z", :sort => "title: :asc"%>
      </div>
      <div class="ml-2">
        <%= link_to "Z-A", :sort => "title: :desc"%>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="form-inline">
        <div class="input-group">
          <%= form_tag product_products_path, :method => 'get', :id => "products_search" do %>
            <%= text_field_tag :search, params[:search], placeholder: "Buscar produtos", class: 'form-control' %>
            <span class="input-group-btn">
              <%= submit_tag "Buscar", :name => nil, class: 'btn btn-success' %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 px-0">
    <%= render 'products' %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @products %>
        </div>
        <%= will_paginate @products, :container => false %>
      </div>
    </div>
  </div>
</div>
