<div class="container">
  <div class="row">
    <h4>Produtos</h4>
  </div>

  <div class="row">
    <div class="form-inline">
      <div class="input-group">
        <%= form_tag product_products_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder: "Buscar produtos", class: 'form-control' %>
          <span class="input-group-btn">
            <%= submit_tag "Buscar", :name => nil, class: 'btn btn-default' %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label>Teste se carrega a tela toda de novo ou não</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  </div>

   <div class="row">
    <a> Ordenar:  </a>
    <%= link_to "A-Z", :sort => "title: :asc"%>
    <%= link_to "Z-A", :sort => "title: :desc"%>
   </div>

  <div class="row">
     <div id="products"><%= render 'products' %></div>
  </div>
   <%= will_paginate @products %>
</div>