<%= link_to("Novo Produto", new_admin_product_path, class: "btn btn-success mb-4") %>
<h4>Produtos</h4>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <th scope="row"><%= product.id %></th>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.value %></td>
        <td><%= link_to "Editar", edit_admin_product_path(product), class: "btn btn-warning btn-sm" %></td>
        <td><%= button_to "Deletar", admin_product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm"%></td>
      <% end %>
    </tbody>
    <%= will_paginate @products %>
  </table>
